Web References/getAvailableFlightWithPriceAndCommision/GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://getavailableflightwithpriceandcommision.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0Service" targetNamespace="http://getavailableflightwithpriceandcommision.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://getavailableflightwithpriceandcommision.b2b.service.version1_0.webservice.model.ltips.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="availableFlightWithPriceAndCommisionReply" type="tns:availableFlightWithPriceAndCommisionReply" />
      <xs:element name="availableFlightWithPriceAndCommisionRequest" type="tns:availableFlightWithPriceAndCommisionRequest" />
      <xs:element name="getAvailableFlightWithPriceAndCommision" type="tns:getAvailableFlightWithPriceAndCommision" />
      <xs:element name="getAvailableFlightWithPriceAndCommisionResponse" type="tns:getAvailableFlightWithPriceAndCommisionResponse" />
      <xs:complexType name="getAvailableFlightWithPriceAndCommision">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:availableFlightWithPriceAndCommisionRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableFlightWithPriceAndCommisionRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="airlineCode" type="xs:string" />
              <xs:element minOccurs="0" name="date" type="xs:string" />
              <xs:element minOccurs="0" name="depTime" type="xs:string" />
              <xs:element minOccurs="0" name="direct" type="xs:string" />
              <xs:element minOccurs="0" name="dstAirportCode" type="xs:string" />
              <xs:element minOccurs="0" name="group" type="xs:string" />
              <xs:element minOccurs="0" name="officeNo" type="xs:string" />
              <xs:element minOccurs="0" name="onlyAvailableSeat" type="xs:int" />
              <xs:element minOccurs="0" name="onlyNormalCommision" type="xs:int" />
              <xs:element minOccurs="0" name="onlyOnWorkingCommision" type="xs:int" />
              <xs:element minOccurs="0" name="onlySelfPNR" type="xs:int" />
              <xs:element minOccurs="0" name="orgAirportCode" type="xs:string" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="pid" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoRequest" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="agencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="sign" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAvailableFlightWithPriceAndCommisionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:availableFlightWithPriceAndCommisionReply" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableFlightWithPriceAndCommisionReply">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoReply">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="flightItems" nillable="true" type="tns:wsFlightWithPriceAndCommisionItem" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoReply" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMessage" type="xs:string" />
          <xs:element minOccurs="0" name="returnStackTrace" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wsFlightWithPriceAndCommisionItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="audletAirportTax" type="xs:double" />
          <xs:element minOccurs="0" name="audletFuelTax" type="xs:double" />
          <xs:element minOccurs="0" name="basePrice" type="xs:double" />
          <xs:element minOccurs="0" name="date" type="xs:string" />
          <xs:element minOccurs="0" name="distance" type="xs:double" />
          <xs:element minOccurs="0" name="dstCity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="flights" nillable="true" type="tns:wsFlightWithPriceAndCommision" />
          <xs:element minOccurs="0" name="orgCity" type="xs:string" />
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wsFlightWithPriceAndCommision">
        <xs:sequence>
          <xs:element minOccurs="0" name="airportTax" type="xs:double" />
          <xs:element minOccurs="0" name="arriModifyTime" type="xs:string" />
          <xs:element minOccurs="0" name="arriTime" type="xs:string" />
          <xs:element minOccurs="0" name="codeShare" type="xs:boolean" />
          <xs:element minOccurs="0" name="depModifyTime" type="xs:string" />
          <xs:element minOccurs="0" name="depTime" type="xs:string" />
          <xs:element minOccurs="0" name="dstCity" type="xs:string" />
          <xs:element minOccurs="0" name="dstJetquay" type="xs:string" />
          <xs:element minOccurs="0" name="flightNo" type="xs:string" />
          <xs:element minOccurs="0" name="fuelTax" type="xs:double" />
          <xs:element minOccurs="0" name="isElectronicTicket" type="xs:boolean" />
          <xs:element minOccurs="0" name="link" type="xs:string" />
          <xs:element minOccurs="0" name="meal" type="xs:string" />
          <xs:element minOccurs="0" name="orgCity" type="xs:string" />
          <xs:element minOccurs="0" name="orgJetquay" type="xs:string" />
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
          <xs:element minOccurs="0" name="planeType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="seatItems" nillable="true" type="tns:wsSeatWithPriceAndComisionItem" />
          <xs:element minOccurs="0" name="shareNum" type="xs:string" />
          <xs:element minOccurs="0" name="stopnum" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wsSeatWithPriceAndComisionItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="discount" type="xs:double" />
          <xs:element minOccurs="0" name="flightNo" type="xs:string" />
          <xs:element minOccurs="0" name="parPrice" type="xs:int" />
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
          <xs:element minOccurs="0" name="policyData" type="tns:wsPolicyData" />
          <xs:element minOccurs="0" name="seatCode" type="xs:string" />
          <xs:element minOccurs="0" name="seatMsg" type="xs:string" />
          <xs:element minOccurs="0" name="seatStatus" type="xs:string" />
          <xs:element minOccurs="0" name="seatType" type="xs:int" />
          <xs:element minOccurs="0" name="settlePrice" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="wsPolicyData">
        <xs:sequence>
          <xs:element minOccurs="0" name="comment" type="xs:string" />
          <xs:element minOccurs="0" name="commisionMoney" type="xs:double" />
          <xs:element minOccurs="0" name="commisionPoint" type="xs:string" />
          <xs:element minOccurs="0" name="commisionType" type="xs:int" />
          <xs:element minOccurs="0" name="needSwitchPNR" type="xs:int" />
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
          <xs:element minOccurs="0" name="policyBelongTo" type="xs:int" />
          <xs:element minOccurs="0" name="policyId" type="xs:int" />
          <xs:element minOccurs="0" name="policyType" type="xs:string" />
          <xs:element minOccurs="0" name="seatType" type="xs:int" />
          <xs:element minOccurs="0" name="vtWorkTime" type="xs:string" />
          <xs:element minOccurs="0" name="workTime" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAvailableFlightWithPriceAndCommisionResponse">
    <wsdl:part name="parameters" element="tns:getAvailableFlightWithPriceAndCommisionResponse" />
  </wsdl:message>
  <wsdl:message name="getAvailableFlightWithPriceAndCommision">
    <wsdl:part name="parameters" element="tns:getAvailableFlightWithPriceAndCommision" />
  </wsdl:message>
  <wsdl:portType name="GetAvailableFlightWithPriceAndCommisionService_1_0">
    <wsdl:operation name="getAvailableFlightWithPriceAndCommision">
      <wsdl:input name="getAvailableFlightWithPriceAndCommision" message="tns:getAvailableFlightWithPriceAndCommision" />
      <wsdl:output name="getAvailableFlightWithPriceAndCommisionResponse" message="tns:getAvailableFlightWithPriceAndCommisionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0ServiceSoapBinding" type="tns:GetAvailableFlightWithPriceAndCommisionService_1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAvailableFlightWithPriceAndCommision">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAvailableFlightWithPriceAndCommision">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAvailableFlightWithPriceAndCommisionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0Service">
    <wsdl:port name="GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0Port" binding="tns:GetAvailableFlightWithPriceAndCommisionServiceImpl_1_0ServiceSoapBinding">
      <soap:address location="http://ws.51book.com:8000/ltips/services/getAvailableFlightWithPriceAndCommisionService1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>